<nav class="navbar navbar-default">

  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" (click)="collapsed = !collapsed">
        <span class="icon-bar" *ngFor="let iconBar of [1, 2, 3]"></span>
      </button>
      <a routerLink="/" class="navbar-brand">Recipe Book</a>
    </div>
    <div class="navbar-collapse" [class.collapse]="collapsed" (window:resize)="collapsed = true">
        <ul class="nav navbar-nav">
          <li><a href="#" (click)="onSelect('recipe')">Recipes</a></li>
          <li><a href="#" (click)="onSelect('shopping-list')">Shopping List</a></li>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" role="button">Manage<span class="caret"></span> </a>
              <ul class="dropdown-menu">
                <li><a href="#"></a>Save Data</li>
                <li><a href="#"></a>Fetch Data</li>
              </ul>
            </li>
          </ul>
        </ul>
      </div>
    </div>

</nav>
